body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #06353c, #5ec9aa, #b8f5e5) ;
}

.logo{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}